body
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.navbar-toggle
{
    display: none;
}
.content
{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    /* background-color: aliceblue; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 20px;
    width:100%;
    margin: 0;
}
 .mobile-toggler
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
.mobile-toggler a
{
    margin-left: 50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: rgba(71, 71, 211, 0.856);
    position: relative;
    font-family: "Lobster", sans-serif;
    letter-spacing: 1px;
}
.mobile-toggler a::before
{
    content: '';
    height: 4px;
    left: 0;
    width: 0;
    background-color: rgba(71, 71, 211, 0.856);
    bottom: -1px;
    position: absolute;
    transition: all 300ms;
    border-radius: 12px;
}
.mobile-toggler a:hover::before{
    width: 100%;
}
.font-style
{
    font-family: "Pacifico", cursive;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img
{
    height: 80px;
    margin: 0;
    padding:0;
}
h3 i{
    color: black;
    margin-left: 50px;
}
.vectore h2{
    font-family: "Lilita One", sans-serif;
}
.vectore-img img
{
  height: 380px;
  width: 280px;
  border-radius: 12px;
}
.vectore-img{
    height: 380px;
  width: 280px;
  /* display: flex; */
}
.login-btn{
    transition: all 300ms;
    padding: 10px 10px 8px;
}
.login-btn:hover{
    background-color: rgba(0, 0, 255, 0.705);
    color: white;
}
.fa-caret-down{
    transition: all 300ms;
}
.login-btn:hover .fa-caret-down
{
    rotate: 180deg;
} 

.nav-item
{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right:80px;

}
.drop-down
{
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
    width: 220px;
    border-radius: 12px;
}
.drop-down p{
    font-size: 16px;
    margin: 5px 10px;
    border-bottom: 1px solid gray;
    padding:10px 5px;
}
.drop-down p a{
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 255, 0.705);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.drop-down a
 {
    color: black;
    padding: 10px 16px;
    margin: 2px 10px;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid black;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
  }
  .drop-down a::before{
    background-color:transparent !important;
  }
  .drop-down i
  {
    margin-right: 15px;
    font-size: 18px;
    color: rgba(71, 71, 211, 0.856);
  }
  .drop-down a:hover 
  {
    background-color: #f1f1f1;
  }
  .nav-item:hover .drop-down 
  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .cloths-sell
  {
    background-color: rgb(245, 217, 80);
    width: fit-content;
    margin: 0 auto;
    gap: 50px;
    padding: 30px 50px 0 50px;
  }
  .cloths-sell img{
    height: 300px;
    width: 350px;
  }
  .cloths-sell h1:nth-child(1){
    background-color: white;
    width: fit-content;
    padding: 1px 10px;
    font-weight: 600;
    font-family: "Lilita One", sans-serif;
    letter-spacing: 5px;
    rotate: -3deg;
  }
  .cloths-sell h1{
    font-family: "Lilita One", sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
  }